extends ../_template

block variables
  - var title       = 'Bubo Unicus'
  - var description = 'Bubo Unicus'
  - var ogtitle     = 'Bubo Unicus'

block content
  .main-wrap
    include ../sections/header

    //begin content
    main.main
      include ../sections/top
      include ../sections/video
      include ../sections/program
      include ../sections/teacher
      include ../sections/banner
      include ../sections/bonus
    //end content

    include ../sections/footer
